<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015484681800-m9r6054lbragqlteurki54s090bg5djs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015484681800-m9r6054lbragqlteurki54s090bg5djs</string>
	<key>API_KEY</key>
	<string>AIzaSyA_qX1_yLNtXvy4MYRjAjlDdymla4PRRv4</string>
	<key>GCM_SENDER_ID</key>
	<string>1015484681800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msnbek.Instagram-Clone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-firebase-38580</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-firebase-38580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015484681800:ios:f449aeb5f5b55e4321527d</string>
</dict>
</plist>